.project
.settings/*
vendor/*
conf/*
log/*
docs/*
cache/*
*.csv
views/*.json
*.swp
.idea/*
nbproject/*
js/SAX_RCPPZ.json
defaults.env
.DS_Store
bin/.phpunit

###> symfony/framework-bundle ###
.env.local
.env.local.php
.env.*.local
public/bundles/
var/

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
