{% extends "layout.html.twig" %}

{% block content %}
    <div class="content">

        <div class="main-body">
            <div id="all-search">
                <h2>Main Site Search All</h2>
                <form method="GET" target="_blank" action="{{host}}/searchit/search/coreall">
                    <input type="text" name="query" size="60" />
                    <input type="hidden" name="sid" value="fill-in-my-source-domain" />
                    <input type="submit" value="Submit" />
                </form>
            </div>
             <div id="books-search">
                <h2>Books Search</h2>
                <form method="GET" target="_blank" action="{{host}}/searchit/search/location">
                    <input type="text" name="query" size="60" />
                     <input type="hidden" name="sid" value="fill-in-my-source-domain" />
                    <input type="submit" value="Submit" />
                </form>
            </div>
             <div id="articles-search">
                <h2>Articles Search</h2>
                <form method="GET" target="_blank" action="{{host}}/searchit/search/summon">
                    <input type="text" name="query" size="60" />
                    <input type="hidden" name="sid" value="fill-in-my-source-domain" />
                    <input type="submit" value="Submit" />
                </form>
            </div>
            <div id="database-search">
                <h2>Main Site Database Search</h2>
                <form method="GET" target="_blank" action="{{host}}/searchit/search/dball">
                    <input type="text" name="query" size="60" />
                    <input type="hidden" name="sid" value="fill-in-my-source-domain" />
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
