<html>
	<head>
		<title>{{ title }} - Mode: {{ environment }}</title>
                
                <link rel="stylesheet" href="../css/bootstrap.min.css">
	</head>
	<body>
		<div class="container" id="header">
			{% block header %}
				{% include 'header.html.twig' %}
			{% endblock %}
		</div>
		
		{%block content %}
		{% endblock %}
		
		<div class="container" id="footer">
			{%block footer %}
				{% include 'footer.html.twig' %}
			{%endblock %}
		</div>
                <script src="http://code.jquery.com/jquery.js"></script>
                <script src="../js/bootstrap.min.js"></script>

	</body>
</html>