<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    {% for tab in search_tabs %}
    <div>
    	<h2>{{ tab.label }}</h2>
    	<form method="GET" action="{{ base_url ~ "/search/" ~ tab.index}}">
    		<input type="text" name="query" size="40"/>
    		<input type="submit" value="Search" name="search"/>
    	</form>
    </div>
    {%endfor %}
  </body>
</html>
